@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

  * {
    font-family: "Open-Sans", sans-serif;
    margin: auto;
  }

    .banner-image {
      display: block;
      margin: auto;
      width: 100%;
      height: auto;
    }

    h1 {
      color: white;
      background: #0099cc;
      padding: 3rem 7rem 0rem;
      font-size: 40px;
    }

    h2 {
      color: white;
      background: #0099cc;
      padding: 1rem 7rem 3rem;
      font-weight: 400;
      font-size: 22px;
    }

    .nav-links {
      width: 100%;
      height: auto;
      padding: 0rem 6rem;
      background-color: #eee;
    }

    .nav-links li {
      list-style: none;
      display: inline-block;
      padding: 1rem;
    }

    .nav-links a {
      text-decoration: none;
      color: black;
      font-size: 13px;
      font-weight: bold;
    }

    .blue-text {
      color: #0099cc;
    }

    article {
      margin: 2rem 7rem;
    }

    article p {
      padding: 1rem 0rem;
    }

    .content {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }

    blockquote {
      padding: 2rem 0rem;
      line-height: 2rem;
    }
