@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

  * {
    font-family: "Noto-Sans", sans-serif;
  }

    body {
      margin: 0;
      width: 100%;
      min-height: 100%;
    }

    .banner {
      width: 100%;
      height: auto;
      background-image: url(../images/banner-image.jpg);
      background-size: cover;
    }

    header {
      background-color: #0099cc;
      text-align: left;
    }

    h1 {
      color: white;
      padding: 5rem 10rem 0rem;
      font-size: 45px;
    }

    h2 {
      position: relative;
      top: -1rem;
      color: white;
      padding: 0rem 10rem 3rem;
      font-size: 24px;
      font-style: italic;
    }

    .nav-links {
      position: relative;
      padding: 0rem 8.5rem;
      background-color: #eee;
    }

    .nav-links li {
      list-style-type: none;
      position: relative;
      display: inline-block;
      padding: 1.5rem;
    }

    .nav-links li a:after {
      content: " / ";
      position: relative;
      right: -1.5rem;
      color: black;
    }

    .nav-links a {
      display: block;
      text-decoration: none;
      color: black;
      font-size: 13px;
      font-weight: bold;
    }

    .nav-links a:hover {
      color: #0099cc;
      cursor: pointer;
    }

    .blue-text {
      color: #0099cc;
    }

    main {
      position: relative;
      right: -3.5rem;
      width: 80%;
      min-height: auto;
      overflow: hidden;
      margin: 2rem auto;
    }

    .content-left {
      float: left;
      width: 70%;
      height: auto;
      text-align: left;
    }

    .content-left article {
      box-sizing: border-box;
      padding: 1rem;

    }

    blockquote {
      font-size: 18px;
      line-height: 2rem;
      position: relative;
      right: 2.5rem;
    }

    .content-right {
      float: right;
      width: 30%;
      height: auto;
      text-align: left;
    }

    .content-right article {
      box-sizing: border-box;
      padding: 1rem;
    }

    .content-right p {
      padding: 0.5rem 0;
    }

    .content-right a {
      text-decoration: none;
    }

    .footer-image {
      width: 100%;
      height: auto;
      background-image: url(../images/footer-image.jpg);
      background-size: cover;
    }

    footer {
      clear: both;
      text-align: center;
      color: white;
    }
