@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

  * {
    font-family: "Noto-Sans", sans-serif;
  }

    body {
      margin: 0;
      width: 100%;;
    }

    header {
      position: relative;
      width: 100%;
      height: auto;
      position: relative;
      top: -2rem;
      background-image: url(../images/banner-image.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }

    header h1 {
      color: white;
      padding: 5rem 9rem 0rem;
      font-size: 45px;
    }

    header h2 {
      color: white;
      position: relative;
      top: -1rem;
      padding: 0rem 9rem 0rem;
      font-size: 24px;
      font-weight: 100;
    }

    .header-nav {
      position: relative;
      padding: .5rem 8.5rem;
      background-color: #eee;
    }

    .header-nav li {
      list-style-type: none;
      position: relative;
      display: inline-block;
      padding: 1rem .5rem;
    }

    .header-nav li a:after {
      content: " / ";
      position: relative;
      left: .5rem;
      color: black;
    }

    .header-nav li:last-child a:after {
      display: none;
    }

    .header-nav a {
      display: inline-block;
      text-decoration: none;
      color: black;
      font-size: 15px;
      font-weight: bold;
      padding: 0rem;
    }

    .header-nav a:hover {
      color: #0099cc;
      cursor: pointer;
    }

    .blue-text {
      color: #0099cc;
    }

    main {
      position: relative;
      right: -1.5rem;
      top: -3rem;
      width: 80%;
      min-height: auto;
      overflow: hidden;
      margin: 2rem auto;
    }

    .content-left {
      float: left;
      width: 70%;
      height: auto;
      text-align: left;
    }

    .content-left article {
      box-sizing: border-box;
      padding: 1rem;
      line-height: 1.5;
    }

    .article-link {
      text-decoration: none;
      color: #0099cc;
    }
    blockquote {
      font-size: 18px;
      line-height: 2rem;
      position: relative;
      right: 2.5rem;
    }

    .content-right {
      float: right;
      width: 30%;
      height: auto;
      text-align: left;
    }

    .content-right article {
      box-sizing: border-box;
      padding: 1rem;
    }

    .content-right p {
      line-height: 1.5;
    }

    .content-right a {
      text-decoration: none;
    }

    .content-right a:hover {
      color: grey;
    }

    .cat-box {
      box-sizing: border-box;
      width: 100%;
      height: auto;
      border: 1rem double black;
      border-color: #0099cc;
      padding: 2rem;
      position: relative;
      top: 1rem;
      font-weight: bold;
    }

    .footer-image {
      width: 100%;
      height: auto;
      padding: 5rem 0rem;
      background-image: url(../images/footer-image.jpg);
      background-size: cover;
    }

    #cat-logo {
      position: relative;
      top: -1rem;
      width: 280px;
    }

    footer {
      text-align: center;
      clear: both;
      color: white;
      font-size: 13px;
    }

    footer p {
      position: relative;
      top: -0.5rem;
    }

    .footer-nav {
      position: relative;
      top: .5rem;
    }

    .footer-nav li {
      list-style-type: none;
      display: inline-block;
      position: relative;
      right: 1rem;
    }

    .footer-nav li a:after {
      content: " / ";
      position: relative;
      right: 0px;
      padding: 0px 5px;
      color: white;
    }

    .footer-nav li:last-child a:after {
      display: none;
    }

    .footer-nav a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }

    .footer-nav a:hover {
      color: #0099cc;
    }

    .copyright {
      position: relative;
      top: 1.5rem;
    }
